.header {
    display: flex;
    align-items: center;

    height: 80px;
    background-color: #fff;

    box-shadow: 0 0 5px rgba(0, 0, 0, 30%);
}

.container {
    width: 100%;

    display: flex;
    align-items: center;
}

.logo {
    width: 84px;
    height: 64px;

    margin-right: 56px;
}

.menu {
    display: flex;

    gap: 40px;
}

.menu a {
    color: #475467;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    text-decoration: none;
}

.button-nav {
    margin-left: auto;

    height: 44px;
}